@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,500&family=Noto+Sans:wght@800&family=Poppins:wght@400;500;700&display=swap');
@import "_variables";

body {
  background-color: $color-white-base;
  font-family: Poppins;
  font-size: 16px;
  color: $color-black-base;
}

.limited-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px; 

  @media (max-width: 1440px) {
    padding-left: 80px;
    padding-right: 80px;
    padding: 0 80px; 
  }

  @media (max-width: 428px) {
    padding-left: 20px;
    padding-right: 40px;
    padding: 0 40px;
  }
}