@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&Newsreader:opsz,wght@6..72,400;6..72,500&family=Noto+Sans:wght@800&family=Poppins:wght@400;500;700&Hanuman:wght@400;700&display=swap');
@import "_variables";

body {
  background-color: $color-white-base;
  font-family: Inter;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: $color-black-base;
}

.limited-width {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 240px;
  padding-right: 240px;
  padding-top: 20px;

  @media (max-width: 1526px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: 740px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 368px) {
    padding-left: 10px;
    padding-right: 10px;
  }

}